.root {

}

#secondPane{
    -fx-background-color: transparent;
}

#turnMessage {
    -fx-shape: 'M 592 300 L 650 240 L 650 150 L 240 150 L 200 200 L 200 300 Z';
    -fx-background-color:  #3d464d;
    -fx-opacity: 0.85;
    -fx-font-family: "Abadi";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #a3b4bf;
    -fx-text-align: center;

}

.button {
    -fx-shape: 'M 592 300 L 650 240 L 650 150 L 240 150 L 200 200 L 200 300 Z';
    -fx-background-color:  #3d464d;
    -fx-opacity: 0.85;
    -fx-font-family: "Abadi";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #a3b4bf;
}

#X {
        -fx-font-family: "Abadi";
        -fx-font-size: 12px;
        -fx-font-weight: bold;
}

#minimize {
        -fx-font-family: "Abadi";
        -fx-font-size: 16px;
        -fx-font-weight: bold;
}

#topBar {
    -fx-background-color:  #32404a;
    -fx-opacity: 0.4;
}

/*#firstTitle {
     -fx-background-color:  #3C4E59;
}
*/

#firstMenu {
     -fx-background-color:  #2F4959;
}

#gameWindow {
    -fx-background-color:  #2F4959;
}

.label{
    -fx-text-fill: #a3b4bf;
    -fx-font-family: "Abadi";
    -fx-font-size: 95px;
    -fx-word-wrap: normal;

}
#smallTitle{
    -fx-text-fill: #a3b4bf;
    -fx-font-family: "Abadi";
    -fx-font-size: 35px;
    -fx-word-wrap: normal;

}

.button:hover {
    -fx-background-color: #3a5c70;
        -fx-text-fill: #8F9DA6;
}


#box {
    -fx-background-color: #3a5c70;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #a3b4bf;
}

#toggle {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #a3b4bf;
}